Source: jivelite
Section: unknown
Priority: optional
Maintainer: Andreas Volz <andreas.volz@tux-style.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/jivelite
#Vcs-Git: https://salsa.debian.org/debian/jivelite.git

Package: jivelite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
